<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register Learner</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/day/{{day.id}}/grade/{{grade.id}}/learner/add" method="post">
                <div class="modal-body">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Grade</label>
                            <select class="form-control" name="grade">
                                <option class="dropdown-item" type="button">select grade</option>
                                {{# grades}}
                                    <option class="dropdown-item" type="button">{{gradeName}}</option>
                                {{/grades}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">First name</label>
                            <input type="text" class="form-control {{firstNameInvalid}}" name="firstName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Last name</label>
                            <input type="text" class="form-control" name="lastName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

