<!-- Modal -->
<div class="modal fade" id="addNotesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="row ">
                        <div class="form-group col-12">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" name="title">
                        </div>
                        <div class="form-group col-12">
                            <label for="exampleInputEmail1">Add notes</label>
                            <textarea class="form-control rounded-0 mt-3" id="exampleFormControlTextarea1" rows="5" name="notes"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Notes</button>
                </div>
            </form>

        </div>
    </div>
</div>