{{> header.handlebars}}

<body>
    <div class="container jumbotron" style="margin-top: 5rem;">
        <div class="row alert alert-warning" role="alert" style="display: none;">
            {{inputErrorMsg}}Should be hidden initially
        </div>
        <div class="row">
            <div class="mb-3 ml-3">
                <a href="/day/{{day.id}}" type="button" class="btn btn-primary mb-3 mr-3 animate__animated animate__fadeInLeft"> < Back </a>
            </div>
        </div>
        <div class="" style="display: flex;">
            <button type="button" class="btn btn-primary mb-3 mr-3" data-toggle="modal" data-target="#exampleModal">Add Learner</button>
            <button type="button" class="btn btn-primary mb-3 mr-3" data-toggle="modal" data-target="#exampleModal3">Add Teacher</button>
            <button type="button" class="btn btn-primary mb-3 mr-3" data-toggle="modal" data-target="#exampleModal2">Add Lessons</button>
            <button type="button" class="btn btn-primary mb-3 mr-3" data-toggle="modal" data-target="#exampleModal6">Add Subject</button>
            <div class="ml-auto">
                <button type="button" class="btn btn-primary mb-3 mr-3" data-toggle="modal" data-target="#exampleModal4">Teachers</button>
                <button type="button" class="btn btn-primary mb-3 mr-3" data-toggle="modal" data-target="#exampleModal5">Lessons</button>
                <button type="button" class="btn btn-primary mb-3 mr-3" data-toggle="modal" data-target="#exampleModal7">Subjects</button>
            </div
            {{> addLearnerModal.handlebars}}
            {{> addTeacherModal.handlebars}}
            {{> addLessonModal.handlebars}}
            {{> addSubjectModal.handlebars}}

            {{> teachersModal.handlebars}}
            {{> lessonsModal.handlebars}}
            {{> subjectsModal.handlebars}}
        </div>
        <div>
            <h3 class="mt-4 mb-3" style="text-align: center;">{{grade.gradeName}}: {{day.dayName}}</h3>
        </div>
        {{> gradeLearners.handlebars}}
    </div>
</body>
</html>